html,
body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100vh;
}

.header {
  background-color: #ffde22;
}
.sidebar {
  background-color: #ff7755;
}
.nav {
  background-color: #00ddff;
}
.article {
  background-color: #bccbde;
}
.footer {
  background-color: #393f4d;
}
